*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-weight: 400;
    --primary-black-text:#000000;
    --primary-white-text:#ffffff;
    --primary-cta-background:#D5672A;
    --secondary-cta-background:#2A3141;
    
}

a
{
    color: white;
}
header
{
    width: 100%;
    height: 150px;
    position: absolute;
}
nav
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}
ul
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5.4%;
}
.links
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 106px;
    gap: 2em;
}
li
{
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
}
.active
{
    color: var(--primary-cta-background);
}









.hero
{
    width: 100%;
    height: 100vh;
}
.layer
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(180deg, #232936 0%, rgba(42, 49, 65, 0.57) 43.75%, #232936 100%);
    z-index: 1;
}
.titleandcta
{
    color: var(--primary-white-text);
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-direction: column;
    margin-left: 14%;
    gap: 4em;

}
.titleandcta h1
{
    font-size: 3.5em;
    width: fit-content;
}
.cta
{
    background: var(--primary-cta-background);
    width: 175px;
    height: 45px;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    justify-content: center;
    align-items: center;
}
.cta .image
{
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-right:20px;
}
.cta .text
{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 14px;
}

















.aboutus
{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 9.3em;
    align-items: center;
}
.aboutus .featured_image
{
    width: 677px;
    height: 540px;
}
.aboutus .featured_image::after
{
    content: ' ';
    width: 677px;
    height: 540px;
    background: rgba(213, 103, 42, 0.74);
    position: absolute;
    left: 0;
}
.aboutus .description
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
.aboutus .description h1
{
    font-size: 2.4em;
}
.aboutus .description>p
{
    width: 80%;
    line-height: 2em ;
    font-size: 16px;
}
.aboutus .cta
{
    background:var(--secondary-cta-background)
}
.aboutus .cta .text
{
    margin-left: 20px;
    font-size: 14px;
}







.slider
{
    width: 100%;
    height: 96vh;
    background: var(--secondary-cta-background);
}
.slidertitleandnav
{
    width: 100%;
    height: 25%;
    background: pink;
    display: flex;
}
