*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
    font-weight: 400;
    --primary-black-text:#000000;
    --primary-white-text:#ffffff;
    --primary-cta-background:#D5672A;
    --secondary-cta-background:#2A3141;
    --secondary-white-text:#cacaca;
    --secondary-black-text:#3f3f3f;
}

a
{
    color: white;
}
body
{
    overflow-x: hidden;
}
/*  NAVBAR STARTS HERE  */

header
{
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav
{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}
ul
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.0001fr;
}
.logo
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5.4%;
}
.links
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 106px;
    gap: 2em;
}
li
{
    display: flex;
    justify-self: flex-end;
    cursor: pointer;
    white-space: nowrap;
}
.active
{
    color: var(--primary-cta-background);
}
.mobilemenu
{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 30px;
    height: 30px;
    gap: 8px;
    
}
.mobilemenuwrapper
{
    cursor: pointer;
}
.line
{
    width: 100%;
    height: 2px;
    background: #ffffff;
    position: relative;
    z-index: 2;
}
.mobilemenu
{
    display: none;
}
.mobilemenuwrapper
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
}
@media only screen and (max-width:1000px)
{
    .mobilemenu
    {
        display: flex;
    }
    .links a 
    {
        color: black;
    }
    .links 
    {
        position: fixed;
        right: 0;
        top: 0;
        width: 65vw;
        display: none;
        flex-direction: column;
        height: 100vh;
        background: white;
        color: black;
        justify-content: center;
        padding-right: 0;
        right: 0;
        
    }
    .titleandcta
    {
        margin-left: 0% !important;
        align-items: center;
    }
    .titleandcta .cta
    {
        margin-left: -4%;
    }

}

/*  NAVBAR ENDS HERE  */







.hero
{
    width: 100%;
    height: 100vh;
    overflow-x: none;
}
.layer
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(180deg, #232936 0%, rgba(42, 49, 65, 0.57) 43.75%, #232936 100%);
    z-index: 1;
}
.titleandcta
{
    color: var(--primary-white-text);
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    flex-direction: column;
    margin-left: 14%;
    gap: 4em;
    
}
.titleandcta h1
{
    font-size: clamp(2rem, 7vw, 3.5rem);
    width: fit-content;
    text-align: center;
    line-height: 1.5em;
}
.cta
{
    background: var(--primary-cta-background);
    /* width: 175px;
    height: 45px; */
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 15px 25px;
}
.cta .image
{
    display: flex;
    justify-self: flex-end;
    align-items: center;

}
.cta .text
{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 14px;
}

















.information_wrapper
{
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 8.3em;
    align-items: center;
}
.information_wrapper .featured_image
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.information_wrapper .description
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}
.information_wrapper .description h1
{
    font-size: 2.4em;
}
.information_wrapper .description>p
{
    width: 80%;
    line-height: 2em;
    font-size: 16px;
    color: var(--secondary-black-text);
}
.information_wrapper .cta
{
    background:var(--secondary-cta-background)
}
.information_wrapper .cta .text
{
    font-size: 14px;
}

@media only screen and (max-width:1200px)
{
    .information_wrapper
    {
        grid-template-columns: 1fr;
    }
    .featured_image
    {
        display: none;
    }
    .information_wrapper .description
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .information_wrapper .description>p
    {
        text-align: center;
        
    }
    .information_wrapper.reverse_wrapper
    {
        grid-template-columns: 1fr;
    }
    .information_wrapper.reverse_wrapper .description
    {
        margin-left: 0;
    }
}

.featured_image::after
{
    z-index: 2;
    content: ' ';
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    background: rgba(213, 103, 42, 0.74);

    left: 0px;
}
.reverse_wrapper
{
    grid-template-columns: 0.8fr 1fr;
}


.reverse_wrapper .featured_image img
{
    position: relative;
    top: -100%;
}
.reverse_wrapper .description
{
    margin-left: 20%;
}

.slider
{
    width: 100%;
    height: 90vh;
    background: var(--secondary-cta-background);
}
.slidertitleandnav
{
    width: 100%;
    height: 25%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.slidertitleandnav .title>h1
{
    font-size: 2em;
    color: var(--primary-white-text);
}
.slidertitleandnav .title
{
    margin-left: 223px;
}
.slidertitleandnav .nav
{
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    gap:50px;
}
.slidertitleandnav .nav img
{
    cursor: pointer;
}
.slidewrapper
{
    width: fill;
    margin-left: 223px;
    height: 76.5vh;
    overflow: hidden;
    display: flex;
    gap: 100px;
}
.slides
{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    gap: 0.91em;
    position: relative;
    color: var(--primary-white-text);
}
.slides .description
{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.slides .description p
{
    color: var(--secondary-white-text);
}
.slides .imageandcta
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.slides .imageandcta .cta
{
    justify-self: flex-end;
    position: relative;
    top: -22.5px;
}


@media only screen and (max-width:1000px)
{
 
    .slidertitleandnav .title
    {
        margin-left: 10%;
    }
    .slidertitleandnav .title>h1
    {
        font-size: 1.5em;
        white-space: nowrap;
    }
    .slidertitleandnav
    {
        height: 15%;
    }
    .slidertitleandnav .nav img
    {
        width: 10px;
    }
    .slidewrapper
    {
        padding-left: 6%;
        margin-left: 0;
    }
    .slider_thumbnail
    {
        width: 85vw;
        height: 45vh;
        object-fit: cover;
    }
    .slides .description
    {
        align-items: center;
    }
    .slides .description>p
    {
        text-align: center;
        line-height: 1.5em;
        color: var(--secondary-white-text);
    }
}
















footer
{
    width: 100%;
    height: 25vh;
    background: var(--secondary-cta-background);
    display: flex;
    flex-direction: column;
    gap: 4em;
}
.footerlinks
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 51px;
    gap: 2.5em;
}

.logofooter
{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:1000px)
{
    footer
    {
        height: 15.5vh;
    }
    .footerlinks
    {
        display: none;
    }
    .logofooter
    {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .logofooter img
    {
        width: 12em;
    }
}